<!-- About Us Page -->
<% provide(:title, "About")%>

<body class="about">
<div class="wrapper">
  <h1>About Us</h1>
  <div class="quote">

    <p>Welcome to First Impression!<br>
      A quick and easy way to connect - on your time.
    </p>

    <h3>What We Do</h3>

    <p>Networking is vital in today's business world. Too many times people are told that it's all about who you know. Unfortunately, this excludes those who are unable to meet the right people. A current job may not allow them to attend networking events to get that "in" for a new industry. A person moving from another location may want to meet the people in ther industry in their new home to ease a transition. Life sometimes gets in the way!</p>

    <p>WebShakes gives people an easy way to network on THEIR time. It's simple:<br>
      Flip through business cards and select those with whom you want to connect. Once you've got your own stack of connections, reach out and chat! Set up a time on your own terms to meet for coffee, lunch, drinks - or whatever works for you!
    </p>

    <h3>Company Info</h3>

    <p>WebShakes was founded in 2015 by Timothy Reen, Henry Arbolaez, and Stefanie Knapp. Initially a project for the <a href="http://wyncode.co/">Wyncode</a> code school bootcamp, WebShakes continues to grow and match connections for quick and easy networking.
    </p>
  </div>
</div>
</body>
