<section class="cf team-container">
  <h1 class="team-h1">Team</h1>

    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://i.imgur.com/bAiz4OA.jpg?1" alt="Timothy Reen"/>
      <h3>Timothy Reen</h3>
      <span>This section could be used to show a very short bio description for each member</span>
      <a href="https://www.linkedin.com/pub/timothy-reen/103/b84/507"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/reen_tim"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>
      <a class="email" href="mailto:tjr05d@my.fsu.edu"><span class="fa fa-envelope fa-2x"></span></a>
    </div>

    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://i.imgur.com/6oqz5Lr.jpg?2" alt="Stefanie Knapp"/>
      <h3>Stefanie Knapp</h3>
      <span>This section could be used to show a very short bio description for each member</span>
      <a href="https://www.linkedin.com/in/stefaniemknapp"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/stef_knapp"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>
      <a class="email" href="mailto:sknapp0125@gmail.com"><span class="fa fa-envelope fa-2x"></span></a>

    </div>

    <!-- member-->
    <div class="team-member">
    <img class="team-photo" src="http://i.imgur.com/e54acSL.jpg?2" alt="Henry Arbolaez"/>
      <h3>Henry Arbolaez</h3>
      <span>This section could be used to show a very short bio description for each member</span>

      <a href="https://www.linkedin.com/in/henryarb"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/henry_arb"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>

       <a class="email" href="mailto:henryarbolaez@gmail.com"><span class="fa fa-envelope fa-2x"></span></a>
    </div>
</section>
