<section class="cf team-container">
  <h1 class="team-h1" style="margin-bottom:2em;">The Agile Team</h1>

    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://i.imgur.com/bAiz4OA.jpg?1" alt="Timothy Reen"/>
      <div id="hover1">The Code Cowboy</div>
      <h3>Timothy Reen</h3>
      <a href="https://www.linkedin.com/pub/timothy-reen/103/b84/507"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/reen_tim"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>
      <a href="https://github.com/tjr05d"  target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      <a class="email" href="mailto:tjr05d@my.fsu.edu"><span class="fa fa-envelope fa-2x"></span></a>
    </div>

    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://i.imgur.com/6oqz5Lr.jpg?2" alt="Stefanie Knapp"/>
      <div id="hover2">The Dev Girl</div>
      <h3>Stefanie Knapp</h3>
      <a href="https://www.linkedin.com/in/stefaniemknapp"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/stef_knapp"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>
      <a href="https://github.com/sknapp0125"  target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      <a class="email" href="mailto:sknapp0125@gmail.com"><span class="fa fa-envelope fa-2x"></span></a>
    </div>

    <!-- member-->
    <div class="team-member">
    <img class="team-photo" src="http://i.imgur.com/e54acSL.jpg?2" alt="Henry Arbolaez"/>
    <div id="hover3">The Ninja</div>
      <h3>Henry Arbolaez</h3>
      <a href="https://www.linkedin.com/in/henryarb"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/henry_arb"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>
      <a href="https://github.com/arbolaez001"  target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      <a class="email" href="mailto:henryarbolaez@gmail.com"><span class="fa fa-envelope fa-2x"></span></a>
    </div>
</section>
