<body class="home">
  <div class="center">
    <% link_to "Sign up now", signup_path , class: "btn btn-lg btn-primary" %>
    <% link_to "Sign in now", login_path , class: "btn btn-lg btn-primary" %>
  </div>
    <h1>Welcome to Webshake</h1>
    <h5 class="text-center">Please Login/Signup</h5>
  <div style="margin-top: 5em;">

    <%= render "sessions/login"%>
  </div>
</body>
