<body class="home">
  <div class="center jumbotron" style="margin-top:10em;">
    <h1>Welcome to the
    <h2>
      This is the home page for the
    </h2>
    <%= link_to "Sign up now", signup_path , class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign in now", login_path , class: "btn btn-lg btn-primary" %>
  </div>
</body>
