<h1>Listing Events</h1>

<%= link_to 'New Event', new_event_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.text %></td>
  </tr>
  <% end %>
</table>


