
<h1>LiveChats#index</h1>
  <span id = "startSession">
    <button>Start Session</button>
  </span>

  <span id = "startChat">
    <button>Click me </button>
  </span>

<span id = "endChat">
  <button> End Chat </button>
</span>
<div id = "publisher"></div>

<div id = "subscriber"></div>
<!-- <div id= "videoChat">
  <p>click me</p>
</div> -->
<p>Find me in app/views/live_chats/index.html.erb</p>
