<h1>Matches</h1>

<h2><%= current_user.first_name.capitalize %> you have <%= pluralize(current_user.matches.count, "match") %> </h2>

<div class="container text-center">


  <% current_user.matches.each do |match| %>
  <%= match.connection.first_name%>

  <%end%>
</div>

