@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Arvo', serif;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */


footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #1595A3;
  color: #000;
  text-align: center;
  a {
    color: #ECF0F1;
    font-size: 1.4em;
    &:hover {
      color: gray-darker;
    }
  }ul {
    text-align: RIGHT;
    list-style: none;
    li {
      display: inline;
      margin-left: 15px;
    }
  }
}

body {
  background-color: #171a1e;
}

h1.team-h1 {
  text-align: center;
  left: 40%;
  padding: 0px 20px;
  color: #fff;
}


.team-container {
  max-width: 1000px;
  max-height: 100vh;
  margin-top: 40px;
  margin: auto;
  border-top: 1px #e9e9e9 solid;
  border-bottom: 1px #e9e9e9 solid;
  padding-top: 5em;
  padding-bottom: 3em;
  position: relative;
}

.team-member {
  width: 18%;
  float: left;
  text-align: center;
  margin-right: 5%;
}

.team-member:last-child {margin-right: 0;}


.team-member h3 {
  color: #1CA3A3;
}

.email {
  color: #EA2678;
}


.team-member span {
  display: block;
}

.team-member a {
  text-decoration: none;
}

.team-member a:hover {
    color:#fff;
  }


.team-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}


.team-photo:hover {
  transform: scale(0.9);
  border: 5px solid white;
}

#hover1 {
  display: none;
}
.team-photo:hover + #hover1 {
   display: block;
   color:green;
   font-size: 1.8rem;
}

#hover2 {
  display: none;
}
.team-photo:hover + #hover2 {
   display: block;
   color:pink;
   font-size: 1.8rem;
}

#hover3 {
  display: none;
}
.team-photo:hover + #hover3 {
   display: block;
   color: tomato;
   font-size: 1.8rem;
}
/* code for phone layout */
@media (min-width:650px){
  .team-member {
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;

  }

}

@media (max-width:649px){
  .team-member {
    float: none;
    display: inline-block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }

  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}
