body.losMatch {

  h1{color:#fff;}
  $maincolor: #6acd79;
  $secondarycolor: #2a2b39;

  .container {
    text-align:center;
  }
   h1 {
    color: rgba(255, 255, 255, 0.4);
  }

  #thumbsUp i{
    color: #fff;
  }
  #hover1 {
    display: none;
  }
  .thumIcon:hover{
    transform:scale(1);
    bottom:-2%;
    transition:transform .2s, opacity .2s;
    font-size: 6em;
    &.thumIcon:hover + #hover1 {
     display: block;
     color:#FF530D;
     text-decoration: none;
     font-size: 1.8rem;
    }
  }

  div {
    text-align: center;
  }

  .search-container {
    float: right;
    overflow: hidden;
    height: 4em;
    width: 4em;
    border-radius: 2em;
    box-shadow: 0 0 5px #6A5D4F;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    margin-right: 3em;
  }
  .search-container:hover {
    width: 25em;
    border-radius: 5px 2em 2em 5px;
  }
  .search-container:hover input {
    display: inline-block;
    width: 19em;
    padding: 10px;
  }

  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    float: left;
    width: 0em;
    height: 2em;
    margin: 1em;
    margin-right: -4.5em;
    background: #fff;
    color: #6A5D4F;
    font-size: 1em;
    font-weight: 600;
    padding: 0px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }
  input:focus {
    outline: none;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
  }

  .button {
    float: right;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;
    background: tomato;
    text-align: center;
    font-size: 2em;
    color: #FDF6E3;
    border-radius: 50%;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
  }
  .button i {
    margin-top: 0.3em;
  }
  .button:active {
    border: 0 !important;
    text-shadow: 0 0 0;
  }

  p.name {
    color: $secondarycolor;
    font-weight: 400;
    font-size: 2.2em;
    text-align: center;
    font-family: Georgia, serif;
    margin:0;
  }

  #jobT{
    margin: 0;
    & > span {
      color: #fff;
      font-size: 1.2em;
    }
  }

  #companyN{
    margin: 0;
     & > span {
      color: #fff;
      font-size: 1.2em;
    }
  }
  input {
    border:solid 1px #ccc;
    border-radius: 5px;
    padding:7px 14px;
    margin-bottom:10px
  }

  .twitter > i {
    margin-right: 4px;
  }
  .linkedin > i {
    margin-right: 4px;
  }
  .phone > i {
    margin-left:4px;
    margin-right: 4px;
  }
  .email > i {
    margin-right: 4px;
  }


  $maincolor: #6acd79;
  $secondarycolor: #2a2b39;

  #back {
    position: absolute;
    top: 0;
    left: 0;
    height: 230px;
    width: 450px;
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);
    padding: 15px 10px;
    font-size: 2em;
    text-align: justify;
    background-color:#D3CBBD;
    border-radius: 5px;
    text-transform: lowercase;
  }

  #chatIcons {
    text-align: center;
  }

  #front {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 230px;
    background: #456F74;
    padding-top: 1px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    text-transform: capitalize;
  }

  #card {
    margin: 30px auto 0;
    position: relative;
    width: 400px;
    height: 230px;
    cursor: pointer;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
  }

  #card:hover #front {
    -moz-transform: rotateY(50deg);
    -webkit-transform: rotateY(50deg);
    transform: rotateY(50deg);
  }

  #card:hover #back {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  .logo {
    display: inline-block;
    background: $maincolor;
    color: #fff;
    z-index: 11;
    padding: .16em;
    border: 8px solid #fff;
    position: relative;
    pointer-events: none;
    margin-top: .2em;
    font-size: 4em;
    .fat{
      font-weight: 600;
    }
    .skinny{
      font-weight: 100;
    }
  }

  .elName{
    margin-top: -.8em;
    color: $secondarycolor;
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    position: relative;
    text-transform: capitalize;
  }

  .introduction{
    text-align: center;
    color: $secondarycolor;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
  }

  .jobandcompany {
    margin-top: -.5em;
    color: #fff;
  }
  .list {
    font-family:sans-serif;
    margin:0;
    margin-bottom: 50px;
  }
  .list > li {
    display:block;
    padding:10px;
    box-shadow: inset 0 1px 0 #fff;
  }

  #startSession {

  }

  #textchat {
      position: relative;
      width: 100%;
      float: right;
      right: 0;
      height: 100%;
      background-color: white;
  }

  #history {
     width: 100%;
     height: calc(100% - 40px);
     overflow: auto;
  }

  input#msgTxt {
      position:relative;
  }

  #history .mine {
      color: #00FF00;
      text-align: right;
      margin-right: 10px;

  }

  #history .theirs {
      color: #00FFFF;
      margin-left: 10px;
  }

  #textChat button span {
    background-color: red;

  }
  #subscriber {
    height: 250px;
    width: 350px;
  }

  #publisherElement {
    height: 250px;
    width: 350px;
  }
}
