// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.home {
    background-color: #41558C;
    position: static;
    height: 100vh;
}

body.about {
  height: 100vh;
  margin: 0;
  background: #f2b950;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(130,37,47,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(130,37,47,.25) 0%, rgba(242,153,75,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
  font-family: georgia;
  color: #fff;
  text-shadow: 0 1px 0 #333;
  h1, h2, h3, h4, h5 {

    text-align: center;
    font-family: Georgia;
  }
  p {
  text-align: center;
  }
  .quote {
  padding: 10px 10%;
  }
  .wrapper {
  padding: 0%;
  padding-top: 0;
  margin: 0px 5% 0;
  margin-top: 30px;
  border: 2px solid rgba( 255, 255, 255, 0.4 );
  background: rgba( 255, 255, 255, 0.1 );
  border-radius: 6px;
  box-shadow: 0 15px 20px -12px rgba(0, 0, 0, 0.5);
  }
}

